doctype html
head(lang="es")
	title="Shopping List"
	meta(charset="utf-8")
body
	nav
		ul
			li Login
			li sign in
	header
		h1 Bienvenido
	.content
		.step
			p Crea una cuenta
		.setp
			p crea una lista
		.step
			p Agrega los productos
		.step
			p uarda tu lis
		.step
			p Listo