extends ./layout.jade

block content
	nav
		ul
			li 
				a(href='login') Registrate
			li
				a(href='signin') Iniciar Sesíon
	header
		h1 Bienvenido
	.content
		.step
			p Crea una cuenta
		.setp
			p crea una lista
		.step
			p Agrega los productos
		.step
			p uarda tu lis
		.step
			p Listo